a {
    text-decoration: none;
}

.body {
    font-family: sans-serif;
}

.menu {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;

}

.title {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.subtitle {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

.image {
    border-radius: 10px;
}

.input {
    width: 200px;
    height: 30px;
    outline: none;
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;
}

.btn {
    width: 100 px;
    height: 30 px;
    font-size: 14 px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

